<h3>Awesome</h3>
<p>
	You just created your first node. Now click on the node and you will see its edit dialog window.
</p>
<p>
	In general all the nodes are classified only by its variable <span class='code'>b</span>. It says if the node is 
	<ul>
		<li><span style="color: red;">sink</span> (b &lt; 0)</li>
		<li><span style="color: green;">source</span> (b &gt; 0)</li>
		<li><span style="color: orange;">ordinary node</span> (b = 0)</li>
	</ul>
</p>
<h4>Your task</h4>
<p>
	By dragging from one node to another create following edges.
	<ul>
		<li>From the source node (b = 4) to your newly added node</li>
		<li>From your newly added node to the sink node (b = -4)</li>
	</ul>
</p>