<h3>Keep rolling</h3>
<p>
	Now check properties of an edge. By clicking on an edge you will see its edit dialog window.
</p>
<p>
	<ul>
		<li><strong>Upper</strong>: means upper limit, in other words how much of the stuff can maximally flow throught this edge</li>
		<li><strong>Lower</strong>: lower limit of the flow</li>
		<li><strong>Cost</strong>: how much does it cost to send one unit of stuff through this edge.</li>
	</ul>
</p>
<h4>Your task</h4>
<p>
	Change the <span class="code">cost</span> of the edges from the <span style="color: green;">source node</span> so, that each will cost exactly 4.
</p>