<h3>We are almost done</h3>
<p>
	So what just happened? We have sent 4 units of goods from the source to the sink. But why did we choose this specific way?	
</p>
<p>
	Let's try it again by <button id="mcfp">clicking on this button</button>. If you look at the cost of each of the two possible ways, you will notice that one costs 6 per unit. On the other hand we can pick up the one with price 4 per unit.
</p>
<h4>Your task</h4>
<p>
	Set <span class="code">lower</span> property of any edge in the unused path (the one with cost 6 in total) to 1. And click the button above... And grab popcorn :)
</p>