<h3>You did it!</h3>
<p>
	You are on the end of your learning path through the amazing world of Graphedit, young warrior. 
</p>
<p>
	If you want to involve, just follow this link <a href="https://github.com/janfabian/min-cost-flow">to the repository of Graphedit</a>
</p>
<p>
	And don't worry I have last tasks for you.
</p>
<h4>Your task</h4>
<p>
	Drag node <strong>without</strong> holding <span code="code">alt</span> key (like you would by creating edge). But dont drop it on another node. Instead drop on some edge which is <strong>not</strong> adjacent to the node you're dragging from.
</p>
<p>
	This should create new node connected with the original node and sitting on the edge you dropped at.
</p>